/* Css Reset */*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
html,body{
    height:100%;
    margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
  text-transform: capitalize;
}
body{
    background-image:url(img/background-janko-ferlic.jpg);
    background-position: auto;    
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* for the quotes and add button */
.section1{
    display:flex;
    justify-content: space-between;
    background-color:rgba(242, 242, 242, 0.203);
    border-radius:9px;
     @media screen and (max-width: 1200px) {
    flex-direction: column;   
    justify-content:center;
    align-items: center;     
    
    }
    
}

.main-container{
    flex:1;

}

.container{
    margin:28px auto;
    padding:0 12rem;
    width:100%;
}

.quotes{
    width:50%;
    background-color: rgba(18, 17, 2, 0.128);
    margin:5rem;
    padding:2rem;
    border-radius:5rem;
    font-size:3rem;
    color:gainsboro;
     @media screen and (max-width: 1200px) {
   width:90%;
   padding:2rem;     
    
    }
}

.quotes>h1{
    text-align:center;
    margin-bottom:1rem;
}

.information{
    color:rgb(176, 255, 218);    
    width:25% !important;
    display:flex;
    flex-direction: column;
    gap:12px;
    background-color: #3f003f85;
    @media screen and (max-width: 1200px) {
   font-size:3rem;
   /* padding:2rem;      */
   width:50% !important
    
    }

    
}

#library_heading{
    color:yellow;
    font-size:3rem;

}
.information_row{
    display:flex;
    justify-content: space-between;
}

/* section for adding new books by users */
.add_books_section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:18px auto;
    flex-wrap: wrap;
    gap:15px;
    padding:16px;
    border:1px solid;
    border:5px;
}

/* new books by users */
.new_book{
    display:grid;
    position: relative;
    overflow:auto;
    grid-template-columns: repeat(2, .5fr);
    font-size:2rem;
    width:500px;
    grid-gap:10px;
    padding:3rem;
    word-break: break-word;
    background-color: #272727d7;
    border-radius:9px;
    box-shadow: 1px 2px 15px gray,1px 2px 25px rgba(104, 88, 246, 0.301);
   }

 .new_book_p{
    font-size:21px;
    font-weight: 500;
    color:#4bb6fe;
 }

.new_book_h{
    color:rgb(255, 194, 194);    
    font-size:21px;
 }

 #summary_heading{
    grid-column:1/-1;
    text-align: center;
    padding:2rem;
    font-size:3rem;color:rgb(195, 255, 105);
    
 }

 #book_title_summary{
text-align: justify;
grid-column:1/-1;
color:rgb(219, 249, 241);


}

#openModalBtn{
    width:250px;
    border:none;
    background-color:#159ef9;
    border-radius:20%;
    margin:5rem;
    box-shadow: 1px 2px 15px rgb(3, 3, 3),1px 2px 15px rgba(104, 88, 246, 0.301);
    transition:all .2s;cursor:pointer;
    animation: formDown 1s ease-in-out;

}

@keyframes formDown {
    0%{
        transform:translatey(-19px);
        opacity:0;
    }

    100%{
        transform:translatey(0px);
        opacity:1;
    }
}

.btnAddMinus{
    /* background-color: #bdfd8b; */
    color:rgba(1, 25, 243, 0.432);
    font-size:20rem;
    display:flex;
    justify-content: center;
      border: none;
  border-radius:35px;

}

#minus{
    color:red;
    position:relative;
}

#delete_input_id{
    padding:4rem;
    margin:2rem;
    align-self: center;
    text-align: center;
    font-size:3rem
}

.hidden{
    display:none;
}

#openModalBtn:active{
    transform:scale(.89);
    box-shadow: 0px 1px 0px gray, 0px 2px 2px rgba(104, 88, 246, 0.301);

}

#book_close:before{
    content:'x';
    color:white;
    position:absolute;
    top:0;
    right:22px;
    cursor:pointer;
    font-size: 25px;
    font-weight:900;
}

#book_id{
    text-transform: lowercase;
}
/* for modal view */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.215);
  backdrop-filter: blur(3px);
    animation: formDown .8s ease-in-out;

}

.modal-content {
  color:white;
  /* overflow: auto; */
  padding: 15px;
  border-radius: 15px;
  width: 35%;
  /* height:60%; */
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  background-color: rgb(2, 2, 166);

    @media screen and (max-width: 1200px) {
   height:85%    ;    
    };
    
}
.close {
  float: right;
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}

.close::before, .close::after{
content:'';
clear:both;
display:table;
}

.close:hover {
border:.5px inset black;
color:black;background-color: #fff;
}

#user-input_summary{
    resize:none;
    margin-bottom:1rem;
    padding:16px;
    
}

textarea::placeholder {
  color: #1542f4;
  font-style: italic; 
}

button[type="submit"] {
    padding:16px;
  background-color: #1542f4;
  color: white;
  border: none;
  cursor: pointer;
  margin-left:50%;
  translate:-50%;
  border-radius:5px;
  font-size: large;
  font-weight: 900;
  transition: all .3s;  
  box-shadow: 0px 10px 55px rgb(1, 4, 91);
  margin-bottom:3rem;
}

#btn-submit:active{
    transform:scale(.89);
    transform:translatey(6px);
    box-shadow: .0px 1px 5px rgb(0, 0, 0);
}

#library-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}


#library-form *{
    border-radius: 15px;

}
#library_header_text{
    padding:10px;
    text-align:center;
    font-size: 8rem;
    text-align: center;
    border-radius:20%;
    color:rgb(255, 255, 255);
    margin:5rem 0;
    text-shadow: 1px 2px 25px rgb(103, 88, 246),1px 2px 75px rgb(0, 0, 0),1px 2px 5px rgb(0, 0, 0);
}

.form-inputs{
    border-left:3px solid rgb(110, 138, 252);   
    border-right:3px solid rgb(102, 131, 249); 
    padding:10px;
    width:85%;

}

.form-inputs:focus, #user-input_summary:focus{
    background-color:rgb(193, 239, 251) ;
}

.labels{
    margin:12px;
    font-size:19px;
}
#user-input_page_numbers{
    width:120px !important;
}


.toggle-checkbox {
  display: inline-block;
  cursor: pointer;
  
}

.toggle-input {
  display: none;
  
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 32px;
  border-radius: 15px;
  background-color: #d0d0d0;
  position: relative;
  border:1px solid gray
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 1px solid #fff; */
  transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(30px);

}

.toggle-text {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color:black;
  font-size:10px;
  font-weight:900
}

.toggle-input:checked + .toggle-label .toggle-text:before {
  content: "Read";  
}

.toggle-input:checked + .toggle-label:before{
    background-color:#1542f4;
}
.toggle-input:checked + .toggle-label{
    background-color: white;
}

#heading_text{
    font-size:23px;
    text-align: center;
    margin-bottom:22px;
}
.toggle-input:not(:checked) + .toggle-label .toggle-text:before {
  content: "In Progress";
}


.check-rate{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    padding:20px;
}

.star {
  cursor: pointer;
}

.star.active path{
 fill: rgb(252, 249, 103);
 stroke:none;
}


#rating{
    text-align: center;
    font-size:16px;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%; 
    height:9rem ;
    margin-top: auto;
    background-color: rgba(24, 3, 142, 0.475);
}

footer >p{
    color:white;
    font-size: 1.5rem;
}

footer img{
  
    width:3%;
}
footer a:link,a:visited{
    color:rgb(61, 253, 237);
}